/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   Reset Erica Meyera
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MENU */

body {
    background-image: url("bg-image.png");
    font-family: "Ek Mukta", serif;
    color: #383838;
}

a {
    text-decoration: none;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #9C8B73;
}

.menu {
    width: 1000px;
    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
}

.menu a {
    transition: all linear 0.15s;
    color: dimgray;
}

.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu > ul > li > a {
    padding: 15px 20px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    color: #FF91A9;
}

.menu > ul > li:hover > a {
    background: #B5A288;
}

.sub-menu {
    width: 160%;
    padding: 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #B5A288;
}

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

.sub-menu li a:hover {
    background-color: #9C8B73;
}

/* CONTENT */

.content {
    margin: 10px 15%;
    padding: 10px;
    background-color: #9C8B73;
    border-radius: 3px;

    font-family: "Ek Mukta", serif;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

    height: auto;
    min-height: 550px;

    overflow: auto;
}

.content p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* FOOTER */

.footer-wrap {
    width: 100%;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.2);
    background-color: #9C8B73;
    position: relative;
}

.footer {
    margin: 10px;
}

.footer p {
    text-align: center;
    padding: 5px;
}

/* INPUT ELEMENTS */

.css-input {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid #ff91a9;
    color: #7a7a7a;
    box-shadow: 0px 0px 3px 0px rgba(42, 42, 42, .100);
}

.css-input:focus {
    outline: none;
}

.btn {
    margin: 3px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #ff91a9;
    padding: 10px 20px;
    border: none;
}

.btn:hover {
    background-color: #E8899E;
}

.center-content {
    text-align: center;
}

.center-content table {
    margin-left: auto; margin-right: auto;
}

/* logout button */
.logout-button {
    margin: 0px;

    font-size: 19px;
    font-family: "Ek Mukta", serif;
    font-style: normal;

    padding: 9px 20px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    color: #FF91A9;
    background: none;
    border: none;
}

.logout-button:hover {
    background: #B5A288;
}

.logout-button:active {
    border: none;
    outline: none;
}


/* person account css */
.account-wrapper{
    margin: 5px;
    padding: 10px;

    height: auto;
}

.account-left-side {
    float: left;
    width: 150px;
    margin-right: 10px;
}

.account-menu-option {
    position: relative;
    width: 150px;
    padding: 3px;
    background-color: #FF91A9;
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);

    margin-bottom: 2px;

    text-decoration: none;
    color: black;
}

.account-menu-option:hover {
    left: 2px;
}

.account-right-side {
    position: relative;
    background-color: #AD9B82;
    float: left;

    padding: 10px;
    margin-left: 10px;

    width: calc(100% - 200px);
    min-height: 150px;
    height: auto;
}

/* groups displaying etc. styles */

.group-option {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
    height: 50px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    line-height: 50px;

    color: black;
    background-color: #FFDBE2;
}

.group-option:hover {
    background-color: #FFD2DA;
}

.group-header{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Ek Mukta", serif;
    text-align: center;
}

.grey-bold {
    color: dimgray;
    font-weight: bold;
}
